In [1]:
def check(number):
    """
    This function checks if a given number is even or odd.

    Args:
    number (int): The number to be checked.

    Returns:
    str: A message indicating whether the number is even or odd.
    """
    if number % 2 == 0:
        return f"{number} is even."
    else:
        return f"{number} is odd."

# Example usage:        #here it doesn't need a exact values
num = 10
result = check(num)
print(result)  # Output: 10 is even.

10 is even.

In [2]:
# Example usage:
num = 10
result = check_even_odd(num)
print(result)  # Output: 10 is even.

NameError: name 'check_even_odd' is not defined

In [20]:
def even(chaitanya):
    if chaitanya % 2 == 0:
        print('{} num is even'.format(chaitanya))
    else:
        print('{} num is odd'.format(chaitanya))

In [21]:
even(89)

89 num is odd

In [12]:
print(check.__doc__)

    This function checks if a given number is even or odd.

    Args:
    number (int): The number to be checked.

    Returns:
    str: A message indicating whether the number is even or odd.

In [13]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [24]:
def is_leap(year):
    if (year%4 == 0):
        print("True")
    else:
        print("False")

year = int(input())
print(is_leap(year))

 2022

False
None

- it is giving none in the console because **is_leap** does not clearly return a value 
- it's just giving the result of print value cause of print statement
- when defining a function we have to return the value of the function as rusult  ot result of print statement or other's...
- in the above due to its vagueness in the code its executed the statement which is true as true or false but left other value as **none**

In [26]:
def is_leap(year):
    if (year%4 == 0):
        return True
    else:
        return False
        
year = int(input())
print(is_leap(year))

 2022

False

In [27]:
#rules of a leap year :
#A year is a leap year if:
#
#1.It is divisible by 4.
#2.However, if the year is also divisible by 100, it is not a leap year unless:
#3.The year is also divisible by 400.

- know the condition of the problem statement you are working with.

In [31]:
def is_leap(year):
    if(year%400 == 0):
        return True
    elif(year%100 == 0):
        return False
    elif(year%4 == 0):
        return True
    else:
        return False

year = int(input())
print(is_leap(year))

 2100

False

In [ ]:
#case 1: if i use the and or or statements the condition of them has to be all correct (or)if any one of them has to be correct
#but we hace to check 2 condition true and one false or not...for the leap year so we cant use the and (or) or statements
#case2:L we can use is...elif...else format but it has to be in a order

In [32]:
num_list = []
num_list.append(eval(input()))
print(num_list)
num_list.insert(int(input()),int(input()))

 12

[12]

 0
 4

In [33]:
print(num_list)

[4, 12]

In [36]:
num_list = []
num_list.append(eval(input()))
print(num_list)
for n in range (0,20):
    num_list.append(n)
print(num_list)
num_list.insert(int(input()),int(input()))
num_list.insert(int(input()),int(input()))
num_list.insert(int(input()),int(input()))
print(num_list)

 12

[12]
[12, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

 1
 9
 1
 8
 1
 7

[12, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
N = int(input())
num_list = []
for i in range(N):
    s = list(input().split())
    if s[0] == 'insert':
        num_list.insert(int(s[1]),int(s[2]))
    if s[0] == 'print':
        print(num_list)
    if s[0] == 'remove':
        num_list.remove(int(s[1]))
    if s[0] == 'append':
        num_list.append(int(s[1]))
    if s[0] == 'sort':
        num_list.sort()
    if s[0] == 'pop':
        num_list.pop()
    if s[0] == 'reverse':
        num_list.reverse()
#HERE IN THIS CODE THEY HAVE SAID THAT WE HAVE TO WRITE THIS 7 LIST COMMAND STATEMENTS AND ITERATE THROUGH THEM "N" TIMES
#WE CAN DO IT USING TWO LISTS
#ONE LIST WITH THE THINGS WE ARE DOING AND FOLLOWING THROUGH THE COMMANDS
#SECOND LIST USED TO TAKE A STRING INPUT AND SPLIT IT AND STORING IT IN A LIST "[S]" AND STORE THE SPLIT INPUT STRING
# WHEN USING THE 2ND LIST IN THE COMMANDS WE JUST PASS ON THE MAIN SPLIT ELEMENT WHICH OF THE FOLLOWING COMMAND IS IT 
#AND EXECUTE THE APROPRIATE IF BLOCK 
#NOTE : YOU CANT PASS ON THE , BETWEEN THE VALUES OR THE STRING BECAUSE IT WILL SPLIT THROUGH THE SPACES 
#IF 3 SPACES 3 SPLITS WILL BE PERFORMED
#how many values of n are given that many no of commands will be executed

 3
 append 9
 insert 1 8
 print

[9, 8]