In [1]:
num = input("enter a number to enter that many records :")
d = {}
for i in num:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

enter a number to enter that many records : jhdfkjasdflknlkrkgjliert

{'j': 3, 'h': 1, 'd': 2, 'f': 2, 'k': 4, 'a': 1, 's': 1, 'l': 3, 'n': 1, 'r': 2, 'g': 1, 'i': 1, 'e': 1, 't': 1}

In [4]:
d1={}
d1["a"]=[4,5,6,7,8,34,8]
d1

{'a': [4, 5, 6, 7, 8, 34, 8]}