### hare krishna

- its not defined means the value that i want to use does not exist
- or the code above is not executed in vs you execute all at once so you wont see this more in there bro

# ***know the errors better***

**type casting :** data type conversion...
- each data type to the other data types.

**lets see for int**

In [14]:
num = 100
type(num)

int

In [15]:
#to float
float(num)

100.0

In [16]:
#to bool
bool(num)

True

In [17]:
#to str
str(num)

'100'

In [3]:
#when the bool will become false when converting the int type?
num1 = 0

In [4]:
#for any positive and nagative number it becomes true only only for o it givees false
bool(num1)

False

**lets see for float**

In [27]:
num = 215.98
str(num)

'215.98'

In [28]:
bool(num)

True

In [29]:
int(num)

215

**let's see for string**

In [42]:
#case1
str = 'str'
#case2
str1 = '48'
#case3
str2 = '6.99'

In [34]:
int('apple')

ValueError: invalid literal for int() with base 10: 'apple'

In [35]:
float('apple')

ValueError: could not convert string to float: 'apple'

In [36]:
bool('apple')

True

In [37]:
int(str)

ValueError: invalid literal for int() with base 10: 'str'

In [38]:
int(str1)

48

In [40]:
int(str2)#you cant convert string-float to int

ValueError: invalid literal for int() with base 10: '6.99'

In [41]:
float(str2)

6.99

- when conversion integer will only work for int when its in string format
- but we can convert the int in str format to float

In [45]:
float(str1)

48.0

In [46]:
bool('')

False

In [47]:
#empty string of boolean gives false

**lets see  for the bool conversion**

In [50]:
true = True
float(true)

1.0

In [51]:
int(true)

1

In [55]:
str(true)

TypeError: 'str' object is not callable

In [56]:
#when it shows"'str' object is not callable"execute this again in a new file or close and open it again it works