In [1]:
sorted("simha")

['a', 'h', 'i', 'm', 's']

In [11]:
sorted("sandeep",reverse = False)

['a', 'd', 'e', 'e', 'n', 'p', 's']

In [10]:
sorted("karthik",True)

TypeError: sorted expected 1 argument, got 2

In [13]:
# slash left side no need of name of argument but right of slash it needs the name of the argument(" / ")
#when we see it in the help of the function or a method.

In [14]:
sorted([7,7,8,9,4,6])

[4, 6, 7, 7, 8, 9]

**in operator :**

**note**
- in operator directly access the letters.

In [28]:
#q1)wap ask the user count how many 'a' s are present in any given string
#str1  = "hai naresh how are you"
#m1
str1 = "hai naresh how are you"
counter = 0
for i in str1:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
        counter = counter+1
print(f"the no of vowels in the string is :{counter}")

the no of vowels in the string is :9

In [29]:
#m2
str1 = "hai naresh how are you"
counter = 0
for i in str1:
    if i in "aeiou":
        counter = counter+1
print(f"the no of vowels in the string is :{counter}")

the no of vowels in the string is :9

In [32]:
#q3)
#M1
str1 = set("hai naresh how are you")
counter = 0
for i in str1:
    if i in "aeiou":#removing the repeated words
        counter = counter+1
print(f"the no of vowels in the string is :{counter}")

the no of vowels in the string is :5

In [33]:
#how to update the empty strings

In [39]:
s1 = "python"
s2 = " "
for i in s1:
    s2 = s2+i
print(s2)

 python

**concatination :**

In [40]:
s3 = "bye"
s1+s2+s3

'python pythonbye'

In [41]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [43]:
#can't multiply sequence by non-int of type 'str'(the first variable string is taken as sequence and second is string)

In [44]:
s1*2

'pythonpython'

In [46]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [47]:
#unsupported operand type(s) for /: 'str' and 'str'(it takes both as string)

In [48]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [49]:
#unsupported operand type(s) for -: 'str' and 'str' #same str and str is not supported

In [50]:
s1-2

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
#unsupported operand type(s) for -: 'str' and 'int'

**index :**

- index meaning in python is a number attached to a letter
- in python index starts with "0"
- we have two directions
-    positive direction
-    negtive direction

In [ ]:
-6 -5 -4 -3 -2 -1
 p  y  t  h  o  n
 0  1  2  3  4  5

**mutable and immutable concept**

- mutable: we can change using indexing
- immutable we cannot chanf=ge using indexing

In [19]:
s = "Simha"
s[3] = 'g' #settings are not possible

TypeError: 'str' object does not support item assignment

In [20]:
print(s)

Simha

In [21]:
s = list(s)
print(s)

['S', 'i', 'm', 'h', 'a']

In [22]:
s[3] = "l"
print(s)

['S', 'i', 'm', 'l', 'a']

In [23]:
s = "".join(s)
print(s)

Simla

In [26]:
#que)print each letter using for loop range
for i in range(len(s)): #this can be done using indices in the looping ...
    print(s[i])#we can loop through the letters using letters too in this way but i've never acknowledged it eventho i have used it before

S
i
m
l
a

- **for-in** directly access the letters
- for = using indices
- in  = using letters

In [29]:
#que)wap ask the user iterate using a string print the positive indices and negative indices
name  = "simha"
for i in range (len(name)):
    print(f"the index of letters {name[i]} is : {i} ")

the index of letters s is : 0
the index of letters i is : 1
the index of letters m is : 2
the index of letters h is : 3
the index of letters a is : 4

In [31]:
name  = "simha"
for i in range (len(name)):
    print(f"the index of letters {name[i]} is : {i-len(name)} ")

the index of letters s is : -5
the index of letters i is : -4
the index of letters m is : -3
the index of letters h is : -2
the index of letters a is : -1

In [39]:
#que)wap ask the user to get the index of each "a" in the given index
name1 = "chaitanya simha"
for i in range (len(name1)):
    if name1[i] == "a": 
        print(f"the index of letters {name1[i]} is : {i} ")

the index of letters a is : 2
the index of letters a is : 5
the index of letters a is : 8
the index of letters a is : 14

In [37]:
#wap ask the user to get the count of number of a in a given string
#wap to ask to sum of all the indices of the letter a
#wap ask  the user  to get the vowels from given string using range

In [42]:
count = 0
for i in range (len(name1)):
    if name1[i] == "a": 
        print(f"the index of letters {name1[i]} is : {i} ")
        count += 1
print(f"the count of of a :{count}")

the index of letters a is : 2
the index of letters a is : 5
the index of letters a is : 8
the index of letters a is : 14
the count of of a :4

In [45]:
count = 0
summ_indices = 0
for i in range (len(name1)):
    if name1[i] == "a": 
        summ_indices = summ_indices + i
        print(f"the index of letters {name1[i]} is : {i} ")
        count += 1
print(f"the count of of a :{count}")
print(f"the sum :{summ_indices}")

the index of letters a is : 2
the index of letters a is : 5
the index of letters a is : 8
the index of letters a is : 14
the count of of a :4
the sum :29

In [54]:
for i in range (len(name1)):
    if name1[i] in "aeiou": 
        print(f"the index of letters {name1[i]} is : {i} ")

the index of letters a is : 2
the index of letters i is : 3
the index of letters a is : 5
the index of letters a is : 8
the index of letters i is : 11
the index of letters a is : 14

In [ ]:
#q)