In [3]:
l1 = [1,2,3,'apple',10,20,'apple',40]

#we want to insert an element before th apple we know its place but replace hardcoding
i1 =l1.index('apple')
l1.insert(i1,'banana')
l1

[1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 40]

In [4]:
#enterring element before 40 
i1 =l1.index(40)
l1.insert(i1,'ma naana')
l1

[1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 'ma naana', 40]

In [16]:
#to add element before the second apple
#step-1: we want to find the index of the second apple
#step-2: how to find the second 'apple' index
i1 = l1.index("apple")
i2 = l1.index("apple",i1+1)
l1.insert(i2,'cherry')#have to watch th eprevious vedio of the class
l1#this code will be sucessfull bhaiya

[1, 2, 3, 'banana', 'apple', 10, 20, 'cherry', 'cherry', 'apple', 'ma naana']

In [ ]:
#to add element before the second apple
#pop-remove-del
#step-1: we want to find the index of the second apple
#step-2: how to find the second 'apple' index
i1 = l1.index("apple")
l1.pop(i1)
i1 = l1.index("apple")#this is trail ans error
l1.insert(i1,'cherry')
l1

**pop-remove-del**
- pop will remove the item
- pop also display th eitem which is removing
- pop will take on e argument: index
- pop will remove the item based on the index
- if you dont provide any index by default it will removes th elast value
- because the default index value is -1

In [14]:
l1 = [1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 'ma naana', 40]
l1.pop()
l1

[1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 'ma naana']

In [18]:
#for first apple
l1 = [1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 'ma naana', 40]
i1 =l1.index("apple")
l1.pop(i1)
l1

[1, 2, 3, 'banana', 10, 20, 'apple', 'ma naana', 40]

In [32]:
#for both apples
l1 = [1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 'ma naana', 40]
i1 =l1.index("apple")
#i2 = l1.index("apple",i1+1)#there is no i1_1
l1.pop(i1)
i1 =l1.index("apple")
l1.pop(i1)
l1

[1, 2, 3, 'banana', 10, 20, 'ma naana', 40]

In [31]:
#for second apple
l1 = [1, 2, 3, 'banana', 'apple', 10, 20, 'apple', 'ma naana', 40]
i1 =l1.index("apple")
i2 = l1.index("apple",i1+1)#there is no i1_1
l1.pop(i2)
l1

[1, 2, 3, 'banana', 'apple', 10, 20, 'ma naana', 40]

In [34]:
#using list and pop remove all the elements in the str1
str1 = "hai apple how are you apple in good apple thank you apple"
l1 = str1.split
for "apple" in str1:
    i1 = l1.index("apple")
    l1.pop(i1)
str1 = " ".join(l1)

SyntaxError: cannot assign to literal (2351507906.py, line 4)

In [40]:
#using list and pop remove all the elements in the str1
str1 = "hai apple how are you apple in good apple thank you apple"
l1 = list(str1.split)
count = 0
for i in range(len(l1)):
    if l1[i] == "apple":
        count = count+1
for i in range (count):
    i1 = l1.index("apple")
    l1.pop(i1)
str1 = " ".join(l1)

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
list1 = str.split()
count = list1.count("apple")
for i in range (count):

In [ ]:
### the string questions and lists questions has to be done in a word doc

In [1]:
str1 = "banana"
str1[0]

'b'

In [ ]:
1. Which of the following is not a valid data type in Python?
(A) int (B) string
(C) float (D) double